.navbar {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.logo {
  text-decoration: none;
  color: #2c3e56;
  font-size: 32px;
  font-weight: 700;
}

.socialMedia {
  font-size: 28px;
  margin-left: 16px;
  color: #2c3e56;
  transition: all 0.3s ease-in-out;
}

.socialMedia:hover {
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .navbar {
    margin: 0 40px;
  }
}

@media screen and (min-width: 1280px) {
  .navbar {
    width: 80vw;
    max-width: 1140px;
    margin: 0 auto;
  }
}
