.footer {
  height: 140px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 20px;
}

.footer a {
  padding-left: 20px;
  color: #2c3e56;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.footer a:hover,
a:focus {
  opacity: 0.9;
}

@media screen and (min-width: 1280px) {
  .footer {
    margin: 0 auto;
    width: 80vw;
    max-width: 1140px;
  }
}
