.footer {
  height: 140px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 20px;
}

.footer a {
  padding-left: 20px;
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.footer a:hover {
  color: #555;
}

@media screen and (min-width: 1280px) {
  .footer {
    margin: 0 auto;
    width: 80vw;
    max-width: 1140px;
  }
}
