.projectInfoWrapper {
  margin: 70px 20px;
  display: flex;
  flex-direction: column;
  max-width: 1140px;
}

.projectInfoWrapper p {
  margin-bottom: 20px;
}
.line {
  height: 4px;
  width: 20px;
  border-radius: 2px;
  margin-bottom: 8px;
  background-color: rgb(44, 62, 86);
}
@media screen and (min-width: 768px) {
  .projectInfoWrapper {
    flex-wrap: wrap;
    flex-direction: row;
    margin: 70px 40px;
  }
  .projectInfoWrapper > div {
    width: 33.333%;
  }
}

@media screen and (min-width: 1280px) {
  .projectInfoWrapper {
    margin: 70px auto;
    width: 80vw;
  }
}
