.projectInfoWrapper {
  margin: 70px 20px;
  display: flex;
  flex-direction: column;
  max-width: 1140px;
}

.projectInfoWrapper p {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .projectInfoWrapper {
    flex-wrap: wrap;
    flex-direction: row;
    margin: 70px 40px;
  }
  .projectInfoWrapper p {
    width: 33.333%;
  }
}

@media screen and (min-width: 1280px) {
  .projectInfoWrapper {
    margin: 70px auto;
    width: 80vw;
  }
}
